</div>
<div class="background">
<div class="col-8 container gridBar">
  <div class="box">
      <button class="box" style="background-image: url('/visuals/nerdverse.png')" id="nerd" ></button>
    </div>
    <div class="box">
      <button class="box" style=" background-image: url('/visuals/hkb.png')" id="boss"></button>
    </div>
    <div class="box">
      <button class="box" style="background-image: url('/visuals/weatherPreview.png')" id="weather"></button>
    </div>
    
    <div class="box">
      <button class="box" style="background-image: url('/visuals/sloshed.png')" id="sloshed"></button>
    </div>
    <div class="box">
      <button class="box" style="background-image: url('/visuals/team-roster.png')" id="team"></button>
    </div>
    <div class="box">
      <button class="box" style="background-image: url('/visuals/note.png')" id="note"></button>
    </div>
    <div class="box">
      <button class="box" style="background-image: url('/visuals/burger-time.png')" id="burger"></button>
    </div>
    <div class="box">
      <button class="box" style="background-image: url('/visuals/diamond.png')" id="diamond"></button>
    </div>
    <div class="box">
      <button class="box" style="background-image: url('/visuals/penny.jpg')" id="money"></button>
    </div>
  </div>
</div>
  <div class=" guide col-4">
    <div class="bubble">
    <div class="badges">
       </div>
    <div class="title neon"></div>
<div class="discription">What project are you interested in?</div>
<button class="liveRedirect">Visit</button>
<button class="githubRedirect">Code</button>
</div>
  </div>
  <img class="guide1" src="/visuals/guide1.png"></img>
  </div>
</div> 
