<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet", href="/css/style.css">
    <title>Who's Andy Geertz</title>
</head>
<body>
  
  <div class="header1 neon">
    
    <div class="row"> 
      <div class="col s4">
        <img src="/visuals/logo.png" class="logo"></img>
      </div>
      <div class="col s8">
      <h1>"I'm Eager To Take Your Project To The Next Level!" </h1>
      <h2>--Andy Geertz</h2>
      </div>
 
    </div>
    <nav class="navbar navbar-dark bg-black">
      <form class="form-inline">
        <button class="btn btn-outline-danger" type="button">Background</button>
        <button class="btn btn-outline-danger" type="button" id="contact">Contact</button>
        <button class="btn btn-outline-danger" type="button" href="/projects/">projects</button>
      </form>
    </nav>
  </div> 
     <div class="row">
	    <div class="col-md-4 me">
       <img src="/visuals/self1.png" class="self" >
        </div>
        <div class="col-md-8 preview">
          <video controls autoplay loop muted src="/visuals/Web_Demo.mp4" type="video/mp4" id="demo">
           
            Your browser does not support the video tag.
          </video>
    </div>
    <div class="contact ">
      <div class="container-fluid">
      <form>
      
        <div class="row">
          <div class="col-md-7 " >
            <br><br><br>
            <n>Andy Geertz  </n> 
            <br> 
            
            <n>Geertza@gmail.com<n>
            <br>
              <n >phone: (406)539-1218</n>
          </div>
          <!-- form class to input info -->
           <!-- had to downsize a touch for responsive adjustment and visual alignment with bg -->
          <div class="col-md-5" >
            <div class="form-group">
            <label>Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Phone</label>
                <input type="tel" class="form-control">
              </div>
              <div class="form-group">
                <label>Email</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Message</label>
                  <textarea class="form-control"  rows="6"></textarea>
                    </div>
                    <!-- add button to send the information to my email -->
                   <div class="form-group">
                     <button class="btn btn-primary btn-block">Send</button>
                   </div> 
          </div>
        </div>
      </div>
      </form>
</body>
<style>
  .contact{
    position: absolute;
  top: 20%;
  left: 25%;
  }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/js/script.js" ></script>  
</html> 