<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Aladin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet", href="/css/style.css">
        <title>Who's Andy Geertz</title>
</head>
<body> 
  
  <nav class="navbar  navbar-expand-sm fixed-top navbar-primary barNav">
    <span><img class="barSign" src="/visuals/logo.png"></img></span>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ">
            <li class="nav-item ">
               <a class="nav-link  mx-3 " href="/" >Home</a> 
            </li>
            <li class="nav-item active">
                <a class="nav-link mx-3"  >Projects<span class="sr-only">(current)</a>
            </li>
            <li class="nav-item">
                <a> <button class="nav-link mx-3" id="contact" >Contact</button></a>
            </li>
           
        </ul>
    </div>
</nav>
      <div class="row container content ">
        <div class="col-8 container gridBar">
          <div>
            <button class="box" style="background-image: url('/visuals/nerdverse.png')"></button>
          </div>
          <div class="box">
            <button class="box" style=" background-image: url('/visuals/hkb.png')"></button>
          </div>
          <div class="box">
            <button class="box" style="background-image: url('/visuals/note.png')"></button>
          </div>
          
          <div class="box">
            <button class="box" style="background-image: url('/visuals/sloshed.png')"></button>
          </div>
          <div class="box">
            <button class="box" style="background-image: url('/visuals/team-roster.png')"></button>
          </div>
          <div class="box">
            <button class="box" style="background-image: url('/visuals/weatherPreview.png')"></button>
          </div>
          <div class="box">
            <button class="box" style="background-image: url('/visuals/burger-time.png')"></button>
          </div>
          <div class="box">
            <button class="box" style="background-image: url('/visuals/diamond.png')"></button>
          </div>
          <div class="box">
            <button class="box" style="background-image: url('/visuals/penny.jpg')"></button>
          </div>
        </div>
        <div class=" guide col-4">
          <div class="bubble">What language's are you looking for?</div>
            <img class="guide1" src="/visuals/guide1.png"></img>
        </div>
           
        </div>
      </div> 
      <div class="contact ">
       
        
          <div class="row">
            <div class="col-md-7 " >
              <br><br><br>
              <n>Andy Geertz  </n> 
              <br> 
              
              <n>Geertza@gmail.com<n>
              <br>
                <n >phone: (406)539-1218</n>
            </div>
            <!-- form class to input info -->
             <form> <!-- had to downsize a touch for responsive adjustment and visual alignment with bg -->
            <div class="col-md-5" >
              <div class="form-group">
              <label>Name</label>
                <input type="text"  name='name' class="form-control">
              </div>
              <div class="form-group">
                <label>Phone</label>
                  <input type="tel" name="phone" class="form-control">
                </div>
                <div class="form-group">
                  <label>Email</label>
                    <input type="text" name='email'class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Message</label>
                    <textarea name='message'class="form-control"  rows="6"></textarea>
                      </div>
                      <!-- add button to send the information to my email -->
                     <div class="form-group">
                      <button class="btn btn-primary btn-block" id="x">x</button> 
                      <button class="btn btn-primary btn-block">Send</button>
                     </div> 
            </div>
          </div>
        
        </form>
</body>
<style>
  body
    {
            background-image: url(/visuals/bar.jpg);
        background-attachment: fixed;
           background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width:100%
            }
  .contact{
    position: absolute;
  top: 20%;
  left: 10%;
  }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/js/script.js" ></script>  
</html>