f{
    z-index: 999;
}
body{
    background-image: url(../visuals/justin-kauffman-fpoHihXiMhg-unsplash.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
}

.aboutMe {
  width: 80vw;
  height: auto;
 position: absolute;
  right: 10%;
  top: 20%;
  color: black;
  z-index: 1;
  background-color: rgba(129, 107, 107, 0.829);
  border-radius: 5px;
  border-style: ridge;
  border-color: black;
  display: block;
}

.contact{
  height:80vh;
  position: absolute;
  right: 10%; 
}
.close{
  position: absolute;
  right:10%;
  top: 8%;
}
h4{
  text-align: left;
}
.resume{
  position: absolute;
  right: 10%;
  top: 5%;
  height: 90vw;
  width: 80vw;
  overflow: scroll;
  display: none;
}

