
  
  .newlogo{
      height: 10vw;
      position: absolute;
      left:40%; 
       top: -1.5vh;
      /* clip-path: ellipse(49% 40% at 50% 50%); */
      z-index: 3;
      
  }
 
 

 .neon{
 
  border: 0.4rem  rgb(177, 13, 13);
  
  --neon-border-color: rgb(252, 67, 21);
  animation: flicker 4.0s linear infinite;

 }
 .flicker{
    -webkit-animation: blink 2.0s linear infinite;
  -moz-animation: blink 2.0s linear infinite;
  -ms-animation: blink 2.0s linear infinite;
  -o-animation: blink 2.0s linear infinite;
  animation: blink 2.0s linear infinite;
 }







 @keyframes blink {
  0% {
      filter:drop-shadow(0 0 50px #EC7A44);
  }
  50% {
      filter:drop-shadow( 0 0 10px #EC7A44 );
  }
  100% {
      filter:drop-shadow( 0 0 30px #EC7A44);
  }
}
@-webkit-keyframes blink{ 
  0% {
      filter:drop-shadow( 0 0 50px #EC7A44);
  }
  50% {
      filter:drop-shadow( 0 0 0);
  }
  100% {
      filter:drop-shadow( 0 0 70px #EC7A44);
  }
}

@keyframes flicker {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
      text-shadow:
          -0.2rem -0.2rem 1rem #fff,
          0.2rem 0.2rem 1rem #fff,
          0 0 2rem var(--neon-text-color),
          0 0 4rem var(--neon-text-color),
          0 0 6rem var(--neon-text-color),
          0 0 8rem var(--neon-text-color),
          0 0 10rem var(--neon-text-color);
      
      box-shadow:
          0 0 .5rem #fff,
          inset 0 0 .5rem #fff,
          0 0 2rem var(--neon-border-color),
          inset 0 0 2rem var(--neon-border-color),
          0 0 4rem var(--neon-border-color),
          inset 0 0 4rem var(--neon-border-color);        
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}

/* #contact{
  position: relative;
  left: 0%;

}
#home{
position: relative;
left: 0%;

}
#contact{
  position: absolute;
  right: 0%;
  top: 0%;
}
#projects{
position: absolute;
right: 0%;
top: 0%;
} */


 
 
  
  
